/* PHASE 12: Modal */
.modal {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: white;
  padding: 20px;
}

.is-open{
  display: flex;
}

.form-welcome {
  font-size: 24px;
}

.button-x {
  position: absolute;
  top: 0;
  left: 450px;

}

.modal-form input {
  border: 1px #ccc solid;

}
